body {
    font-family: 'Century Gothic';
    background-image: url('https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xtf1/v/t34.0-12/12178117_10153329588462039_2093079357_n.jpg?oh=1ac9bb1656bb4fc78370c90552b4003e&oe=562E1E15');
    background-color: #d4e9ff;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0.5;
}

img{
    width: 25%;
    height: 40%;
}

ul{
    display:inline;
    list-style-type:none;
}


.titleBar
{
    height: 100%;
    font-family:'Century Gothic';
    color:bisque;
    font-size:xx-large;
    text-shadow: 7px 12px 12px #808080;
}
