body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/UCSC_Humanities_building.jpg');
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
}

.titleBar
{
    height: 100%;
    font-family:'Century Gothic';
    color:bisque;
    font-size:xx-large;
    text-shadow: 7px 12px 12px #808080;
}
